# Flask / seguridad
SECRET_KEY=
JWT_SECRET_KEY=

# Google Sheets
SPREADSHEET_ID=
GOOGLE_CREDENTIALS_PATH=credentials/credentials.json

# Correo
MAIL_SERVER=
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Frontend autorizado por CORS en desarrollo
FRONTEND_URL=http://localhost:5173
